@import './prop.scss';

.assignments{
    padding: 3vw 3vw;
    border: solid 1px $border_color_gray;
    border-radius: 20px;
    width: 35%;
    cursor: pointer;
    background-color: white;

    .assignTitle{
        font-size: $ExtraLargeFonts;
        font-weight: 700;
        margin-bottom: 30px;
    }

    .assignContainer{
        height: 20vw;
        overflow-y: scroll;

        .singleAssignment{
            display: flex;
            width: 100%;
            color: $web_G_Black;
            margin-bottom: 30px;

            .custom_file_upload{
                display: none;
            }

            .date{
                display: flex;
                text-align: center;
                align-items: center;
                font-size: $MediumFonts;
                font-weight: 600;
                width: max(20px, 4vw);
                padding-right: 2vw;
            }

            .details{
                display: flex;
                flex-direction: column;
                border-left: solid 1px $border_color_gray;
                padding-left: max(10px, 1.8vw);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                .statusLogo{
                    display: none;
                }

                .subject{
                    font-size: $MediumFonts;
                    font-weight: 600;
                }

                .desc{
                    color: $heading_font_gray;
                    font-size: $SmallFonts;
                    margin-bottom: 8px;
                }

                .statusOn-Hold{
                    background-color: $web_G_Black;
                    color: $web_White_text;
                    height: 25px;
                    display: flex;
                    align-items: center;
                    width: fit-content;
                    padding: 0 1vw;
                    border-radius: 20px;
                }

                .statusApproved{
                    background-color: $web_green_btn;
                    color: $web_White_text;
                    height: 25px;
                    display: flex;
                    align-items: center;
                    width: fit-content;
                    padding: 0 1vw;
                    border-radius: 20px;
                }

                .statusMissed{
                    background-color: $web_red_btn;
                    color: $web_White_text;
                    height: 25px;
                    display: flex;
                    align-items: center;
                    width: fit-content;
                    padding: 0 1vw;
                    border-radius: 20px;
                }

                .statusPending{
                    background-color: $web_yellow_btn;
                    color: $web_White_text;
                    height: 25px;
                    display: flex;
                    align-items: center;
                    width: fit-content;
                    padding: 0 1vw;
                    border-radius: 20px;
                }
            }
        }
    }
}
.assignments:hover{
    border: solid 1px $web_animation_black;
    transition: all .2s;
}

.assignments2{
    padding: 3vw;
    margin: 3vw 4vw;
    border: solid 1px $border_color_gray;
    border-radius: 20px;
    width: calc(91vw - 100px);
    height: calc(100vh - 70px - 6vw);
    overflow: hidden;

    .assignTitle{
        font-size: $ExtraLargeFonts;
        font-weight: 700;
        margin-bottom: 30px;
    }

    .assignContainer{
        height: 62vh;
        overflow-y: scroll;

        .singleAssignment{
            display: flex;
            width: 100%;
            color: $web_G_Black;
            margin-bottom: 60px;

            .date{
                display: flex;
                text-align: center;
                align-items: center;
                font-size: $MediumFonts;
                font-weight: 600;
                width: max(20px, 4vw);
                padding-right: 2vw;
            }

            .details{
                display: flex;
                border-left: solid 1px $border_color_gray;
                padding-left: max(10px, 1.8vw);
                align-items: center;

                .statusLogo{
                    margin-right: max(10px, 1.8vw);
                    border: solid 1px $border_color_gray;
                    border-style: dashed;
                    border-radius: 1.2vw;
                    width: max(60px, 4vw);
                    height: max(60px, 4vw);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    font-size: 12px;
                    color: $heading_font_gray;

                    input[type="file"] {
                        display: none;
                    }

                    img{
                        width: 35%;
                        margin-bottom: 10px;
                        opacity: 1;
                    }
                }
                .custom_file_upload{
                    cursor: pointer;
                    margin-right: max(10px, 1.8vw);
                    border: solid 1px $border_color_gray;
                    border-style: dashed;
                    border-radius: 1.2vw;
                    width: max(60px, 4vw);
                    height: max(60px, 4vw);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    font-size: 12px;
                    color: $heading_font_gray;

                    input[type="file"] {
                        display: none;
                    }

                    img{
                        width: 35%;
                        margin-bottom: 10px;
                        opacity: .4;
                    }
                }
                .custom_file_upload:hover{
                    transition: all .2s;
                    color: $web_G_Black;
                    img{
                        transition: all .2s;
                        opacity: 1;
                    }
                }

                .details_right{
                    width: 80%;

                    .subject{
                        font-size: $MediumFonts;
                        font-weight: 600;
                    }
    
                    .desc{
                        color: $heading_font_gray;
                        font-size: $SmallFonts;
                        margin-bottom: 8px;
                        text-overflow: ellipsis;
                        width: 50vw;
                    }
    
                    .statusOn-Hold{
                        background-color: $web_G_Black;
                        color: $web_White_text;
                        height: 25px;
                        display: flex;
                        align-items: center;
                        width: fit-content;
                        padding: 0 1vw;
                        border-radius: 20px;
                    }
    
                    .statusApproved{
                        background-color: $web_green_btn;
                        color: $web_White_text;
                        height: 25px;
                        display: flex;
                        align-items: center;
                        width: fit-content;
                        padding: 0 1vw;
                        border-radius: 20px;
                    }
    
                    .statusMissed{
                        background-color: $web_red_btn;
                        color: $web_White_text;
                        height: 25px;
                        display: flex;
                        align-items: center;
                        width: fit-content;
                        padding: 0 1vw;
                        border-radius: 20px;
                    }

                    .statusPending{
                        background-color: $web_yellow_btn;
                        color: $web_White_text;
                        height: 25px;
                        display: flex;
                        align-items: center;
                        width: fit-content;
                        padding: 0 1vw;
                        border-radius: 20px;
                    }

                }
            }
        }
    }
}


.darkenOverlay{
    background-color: black;
    position: absolute;
    z-index: 80;
    width: 100vw;
    height: 100vh;
    top: 0;
    opacity: .8;
}
.assign_submit_box_bg{
    display: flex;
    position: absolute;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    border-radius: 2vw;
    top: 0;
    justify-content: center;
    align-items: center;

    .assign_submit_box{
        background-color: white;
        border-radius: 2vw;
        display: flex;
        flex-direction: column;
        padding: max(20px, 3vw);
        width: max(250px,40vw);
        height: max(300px,20vw) ;
        justify-content: space-between;

        .selected_file{
            font-size: $LargeFonts;
            font-weight: 800;
            overflow: hidden;
        }

        .file_message{
            padding: 20px;
            border: solid 1px $border_color_gray;
            display: flex;
            font-size: $TinyFonts;
            height: 100px;
            outline: none;
            color: $web_G_Black;
        }
        .subButtons{
            width: 100%;
            display: flex;
            justify-content: space-between;

            .cancel_submit{
                color: white;
                border: none;
                background-color: $web_Washed_Green;
                padding: 20px;
                border-radius: 10px;
                font-size: $SmallFonts;
                cursor: pointer;
                width: 40%;
            }
            .onSubmit{
                color: white;
                border: none;
                background-color: $web_Washed_Green;
                padding: 20px;
                border-radius: 10px;
                font-size: $SmallFonts;
                cursor: pointer;
                width: 40%;
            }
            .onSubmit:hover{
                background-color: $web_G_Black;
            }
            .cancel_submit:hover{
                background-color: $web_G_Black;
            }
        }
        
    }
}