@import './prop.scss';

.assignments {
    border-radius: 2vw;
    border: solid 1px #DCDCDC;
    padding: 3vw;
    display: flex;
    flex-direction: column;
    height: 34vw;
    width: 28vw;
    margin-left: 2vw;

    .assignTitle{
        font-size: 1.8vw;
        font-weight: 700;
        color: $appGBlack;
        margin-bottom: 2vw;
    }

    .singleAssignment {
        display: flex;
        height: 5vw;
        margin-bottom: 1.4vw;

        .date  {
            display: flex;
            font-weight: 700;
            font-size: 1.3vw;
            color: $appGBlack;
            align-items: center;
            text-align: center;
            width: 4vw;
            border-right: solid 1px #B9B9B9;
        }

        .details {
            display: flex;
            justify-content: center;

            flex-direction: column;
            padding-left: 2vw;

            .subject {
                color: $appGBlack;
                font-weight: 700;
                font-size: 1.3vw;
                margin-bottom: .2vw;
            }

            .desc {
                font-size: .9vw;
                color: $lightText;
                margin-bottom: .2vw;
            }

            .status  {
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 1vw;
                font-size: .8vw;
                height: 1vw;
                width: 6vw;
                background-color: #F9C43B;
            }
        }
    }
}