@import './prop.scss';

.contentPage {
    display: flex;

    .dashboardPage {
        width: 95vw;
        display: flex;
        flex-direction: column;

        .dashboardTopContents {
            display: flex;
            justify-content: space-between;
            padding-left: 4vw;
            padding-right: 4vw;

            .markings {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 65vw;

                .borderLine {
                    width: 1px;
                    height: 6vw;
                }

                .onHold-box {
                    width: 14vw;
                    height: 10vw;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .onHoldTop {
                        display: flex;
                        align-items: center;
                        margin-bottom: 1.2vw;

                        img{
                            width: 1.6vw;
                        }

                        p{
                            font-size: 1.4vw;
                            font-weight: 600;
                            color: $lightText;
                            margin-left: 1vw;
                        }
                    }

                    .onHold-number{
                        font-weight: 600;
                        color: $appGBlack;
                        font-size: 2vw;
                    }
                }

                .completed-box {
                    width: 18vw;
                    height: 10vw;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 4.1vw;

                    .completedTop{
                        display: flex;
                        align-items: center;
                        margin-bottom: 1.2vw;

                        img{
                            width: 2vw;
                        }

                        p{
                            font-size: 1.4vw;
                            font-weight: 600;
                            color: $lightText;
                            margin-left: 1vw;
                        }
                    }

                    .completed-number{
                        font-weight: 600;
                        color: $appGBlack;
                        font-size: 2vw;
                        padding-left: .3vw;
                    }
                }

                .missed-box {
                    width: 18vw;
                    height: 10vw;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 4.1vw;

                    .missedTop{
                        display: flex;
                        align-items: center;
                        margin-bottom: 1vw;

                        img{
                            width: 2.2vw;
                        }

                        p{
                            font-size: 1.4vw;
                            font-weight: 600;
                            color: $lightText;
                            margin-left: 1vw;
                        }
                    }

                    .missed-number{
                        font-weight: 600;
                        color: $appGBlack;
                        font-size: 2vw;
                        padding-left: .3vw;
                    }
                }
            }

            .profile {
                display: flex;
                width: 30vw;
                align-items: center;
                padding-left: 2vw;

                .profile-picture {
                    img{
                        width: 7vw;
                    }
                }

                .profileRight{
                    margin-left: 2vw;
                    color: $appGBlack;

                    .profile-name{
                        font-weight: 700;
                        font-size: 1.6vw;
                    }

                    .sem {
                        font-size: 1.2vw;
                        font-weight: 600;
                        color: $lightText;
                    }

                    .level {
                        font-size: 1vw;
                        font-weight: 600;
                    }

                    .expLineBox {
                        margin-top: .4vw;
                        width: 13.5vw;
                        height: .6vw;
                        border-radius: 1vw;
                        background-color: #D9D9D9;

                        .expLine {
                            width: 60%;
                            height: 100%;
                            border-radius: 1vw;
                            background-color: $appGBlack;
                        }
                    }
                }
            }
        }

        .dashboardBotContents {
            display:  flex;
            width: 100%;

            .performance {
                display: flex;
                height: 34vw;
                margin-left: 4vw;
                flex-direction: column;
                width: 57vw;
                border-radius: 2vw;
                border: solid 1px #DCDCDC;
                padding: 3vw;

                .performanceTop {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: .8vw;

                    .performanceTop-left {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .performanceTitle {
                            font-size: 1.8vw;
                            font-weight: 700;
                            color: $appGBlack;
                        }

                        .monthSelectBox{
                            display: flex;
                            height: 2vw;
                            width: 10vw;
                            padding-left: 1vw;
                            padding-right: 1vw;
                            justify-content: space-between;
                            align-items: center;
                            border-radius: .5vw;
                            border: solid 1px #DCDCDC;
                            color: $lightText;

                            .calender{
                                height: 1.2vw;
                            }

                            .monthName{
                                font-size: .9vw;
                            }

                            .downArrow{
                                width: .6vw;
                            }
                        }
                    }

                    .performanceTop-Right {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .batch {
                            height: 4vw;
                        }

                        .rankName{
                            margin-top: 1vw;
                            font-size: 1.2vw;
                            font-weight: 600;
                            color: $appGBlack;
                        }
                    }
                }

                .graph {
                    .exampleGraph {
                        width: 51.5vw;
                    }
                }
                
            }
        }
    }
}