@import './prop.scss';

.contentPage{
    display: flex;

    .dashboardPage{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 3vw 4vw;
        width: calc(100vw - 100px);

        .dashboardTopContents{
            display:  flex;
            justify-content: space-between;
        }

        .dashboardBotContents{
            display: flex;
            justify-content: space-between;

        }
    }
}