@import "./prop.scss";

.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $web_G_Black;
    padding: 0 3vw;
    height: 70px;
    width: 100%;

    .heading_left{
        display: flex;
        align-items: center;

        .txtLogo{
            color: $web_White_text;
            font-size: $LargeFonts;
            font-weight: 800;
            padding-right: 3vw;
        }

        .borderLine{
            height: 50px;
            width: 1px;
        }

        .pageTitle{
            color: $web_White_text;
            font-size: $MediumFonts;
            font-weight: 600;
            padding-left: 3vw;

        }
    }

    .heading_right{
        display: flex;
        align-items: center;

        .searchProfile{
            display: flex;
            align-items: center;
            margin-right: 40px;

            .search_icon_box{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 45px;
                width: 70px;
                background-color: $web_Washed_Green;
                border-radius: 40px 0 0 40px;

                .serachLogo{
                    width: 25px;
                }
            }

            .searchInput{
                display: flex;
                align-items: center;
                height: 45px;
                width: 300px;
                background-color: $web_Washed_Green;
                border: none;
                border-radius: 0 40px 40px 0;
                font-size: $SmallFonts;
                color: $heading_font_gray;
                outline: none;
            }
        }

        .headingProfile{
            display: flex;
            align-items: center;

            .headingProfile_left{
                display: flex;
                align-items: end;
                flex-direction: column;
                justify-content: center;
                margin-right: 20px;

                .headingProfile_name{
                    color: $web_White_text;
                    font-size: $SmallFonts;
                    font-weight: 600;
                }
                .headingProfile_sem{
                    color: $web_White_text;
                    font-size: $TinyFonts;
                    color: $heading_font_gray;
                    font-weight: 600;
                }
            }
            .headingProfile_picture_box{
                width: 45px;
                img{
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 940px) {

    .heading{
        .heading_right{
            .searchProfile{
                display: none;
            }

            .headingProfile{
                .headingProfile_left{
                    display: none;
                }
            }
        }
    }

}