@import "./prop.scss";

.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $web_G_Black;
    padding: 0 3vw;
    height: 70px;
    width: 100%;
    z-index: 100;

    .heading_left{
        display: flex;
        align-items: center;

        .txtLogo{
            color: $web_White_text;
            font-size: $LargeFonts;
            font-weight: 800;
            padding-right: 3vw;
        }

        .borderLine{
            height: 50px;
            width: 1px;
        }

        .pageTitle{
            color: $web_White_text;
            font-size: $MediumFonts;
            font-weight: 600;
            padding-left: 3vw;

        }
    }

    .heading_right{
        display: flex;
        align-items: center;

        .searchProfile{
            display: flex;
            align-items: center;
            margin-right: 40px;

            .search_icon_box{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 45px;
                width: 70px;
                background-color: $web_Washed_Green;
                border-radius: 40px 0 0 40px;

                .serachLogo{
                    width: 25px;
                }
            }

            .searchInput{
                display: flex;
                align-items: center;
                height: 45px;
                width: 300px;
                background-color: $web_Washed_Green;
                border: none;
                border-radius: 0 40px 40px 0;
                font-size: $SmallFonts;
                color: $heading_font_gray;
                outline: none;
            }
        }

        .headingProfile{
            display: flex;
            align-items: center;
            cursor: pointer;

            .headingProfile_left{
                display: flex;
                align-items: end;
                flex-direction: column;
                justify-content: center;
                margin-right: 20px;

                .headingProfile_name{
                    color: $web_White_text;
                    font-size: $SmallFonts;
                    font-weight: 600;
                }
                .headingProfile_sem{
                    color: $web_White_text;
                    font-size: $TinyFonts;
                    color: $heading_font_gray;
                    font-weight: 600;
                }
            }
            .headingProfile_picture_box{
                height: 45px;
                width: 45px;
                border-radius: 20vw;
                overflow: hidden;

                img{
                    height: 45px;
                    width: 45px;
                    object-fit: cover;
                }
            }
        }
    }

    .logoutbtn_box{
        position: absolute;
        z-index: 20;
        right: 3vw;
        top: 70px;
        background-color: $web_G_Black;
        border-radius: 0 0 20px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        button{
            width: 8vw;
            height: 3vw;
            border: none;
            background-color: $web_G_Black;
            color: $heading_font_gray;
            font-size: $TinyFonts;
            font-weight: 600;
            cursor: pointer;
        }
        button:hover{
            color: white;
        }
    }
}

@media only screen and (max-width: 940px) {

    .heading{
        .heading_right{
            .searchProfile{
                display: none;
            }

            .headingProfile{
                .headingProfile_left{
                    display: none;
                }
            }
        }
    }

}