@import './prop.scss';

.navBar {
    height: 92vh;
    width: 5vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-right: solid 1px $appLightGray;

    .topBar {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 50px;
        height: 16vh;

        img {
            width: 40px;
        }
    }

    .botBar {
        margin-bottom: 50px;

        img {
            width: 40px;
        }
    }
}