@import './prop.scss';

.navBar {
    height: 45.5vw;
    width: 5vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-right: solid 1px $appLightGray;

    .topBar {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 2.5vw;
        height: 8vw;

        img {
            width: 2vw;
        }
    }

    .botBar {
        margin-bottom: 2.5vw;

        img {
            width: 2vw;
        }
    }
}