@import './prop.scss';

.profile{
    display: flex;
    width: 35%;
    background-color: white;

    .borderLine{
        height: max(40px, 9vw);
        margin-right: 3vw;
    }

    .profile_picture{
        display: flex;
        align-items: center;
        border-radius: 20vw;
        width: 8vw;
        height: 8vw;
        overflow: hidden;

        img{
            width: 8vw;
            height: 8vw;
            object-fit: cover;
        }
    }

    .profileRight{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 1.5vw;

        .profile_name{
            font-size: $LargeFonts;
            font-weight: 700;
            color: $web_G_Black;
        }

        .sem{
            font-size: $MediumFonts;
            color: $heading_font_gray;
            font-weight: 600;
            margin-bottom: 10px;
        }

        .level{
            font-size: $SmallFonts;
            font-weight: 600;
            margin-bottom: 5px;
        }

        .expLineBox{
            background-color: $heading_font_gray;
            height: 12px;
            width: max(30px, 12vw);
            border-radius: 40px;

            .expLine{
                background-color: $web_G_Black;
                height: 100%;
                border-radius: 40px;
            }
        }
    }
}