// COLORS
$web_G_Black: #091010;
$web_White_text: white;
$web_Washed_Green: #2B3E3E;
$heading_font_gray: #B0B0B0;
$border_color_gray: #DCDCDC;
$web_red_btn: #c82f2f;
$web_green_btn: #29c124;

// FONT SIZE
$ExtraLargeFonts: max(30px, 1.8vw);
$LargeFonts: max(25px, 1.6vw);
$MediumFonts: max(18px, 1.2vw);
$SmallFonts: max(16px,1vw);
$TinyFonts: max(14px,.8vw);