.main-body {
  background-color: rgb(210, 234, 250);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    display: flex;
    border: 1px solid rgba(166, 166, 166, 0.279);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 2px 2px 15px 10px rgba(91, 233, 255, 0.489);

    .form-container {
      background-color: white;
      padding: 40px 50px;

      .signup-form {
        display: flex;
        gap: 16px;
        flex-direction: column;
        margin-top: 20px;
      }

      .btn{
        
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        button{
          border-radius: 10px;
          border: 1px solid  rgba(32, 148, 232, 0.83)  ;
          width: 70%;
          padding: 8px;
          cursor: pointer;
          transition: all 0.3s ease;
          color: white;
          font-weight: bold;
          background: linear-gradient(15deg, rgba(94, 211, 229, 0.863) 0%, rgba(32, 148, 232, 0.83) 100%);
          font-size: 14px;
        }

          button:hover,button:active{
            box-shadow:  0 4px 10px 4px rgba(0, 0, 0, 0.223);
        }

        button:active{
            transform: scale(95%);
        }

      }


      .usericon {
        margin-right: -20px;
        color: red;
      }
    }

    .textblock {
      background-color: rgb(220, 249, 253);
      padding: 40px 50px;
    }

    .link{
      text-decoration: none;
    }
    .link:hover{
      color: rgb(100, 191, 243);
    }
  }
}
