@import "./prop.scss";



.teacherHeading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $web_G_Black;
    padding: 0 3vw;
    height: 70px;
    width: 100%;

    .heading_left{
        display: flex;
        align-items: center;

        .txtLogo{
            color: $web_White_text;
            font-size: $LargeFonts;
            font-weight: 800;
            padding-right: 3vw;
        }

        .borderLine{
            height: 50px;
            width: 1px;
        }

        .pageTitle{
            color: $web_White_text;
            font-size: $MediumFonts;
            font-weight: 600;
            padding-left: 3vw;

        }
    }

    .heading_right{
        display: flex;
        align-items: center;

        .searchProfile{
            display: flex;
            align-items: center;
            margin-right: 40px;

            .search_icon_box{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 45px;
                width: 70px;
                background-color: $web_Washed_Green;
                border-radius: 40px 0 0 40px;

                .serachLogo{
                    width: 25px;
                }
            }

            .searchInput{
                display: flex;
                align-items: center;
                height: 45px;
                width: 300px;
                background-color: $web_Washed_Green;
                border: none;
                border-radius: 0 40px 40px 0;
                font-size: $SmallFonts;
                color: $heading_font_gray;
                outline: none;
            }
        }

        .headingProfile{
            display: flex;
            align-items: center;
            cursor: pointer;

            .headingProfile_left{
                display: flex;
                align-items: end;
                flex-direction: column;
                justify-content: center;
                margin-right: 20px;

                .headingProfile_name{
                    color: $web_White_text;
                    font-size: $SmallFonts;
                    font-weight: 600;
                }
                .headingProfile_sem{
                    color: $web_White_text;
                    font-size: $TinyFonts;
                    color: $heading_font_gray;
                    font-weight: 600;
                }
            }
            .headingProfile_picture_box{
                height: 45px;
                width: 45px;
                border-radius: 20vw;
                overflow: hidden;

                img{
                    height: 45px;
                    width: 45px;
                    object-fit: cover;
                }
            }
        }
    }

    .logoutbtn_box{
        position: absolute;
        z-index: 20;
        right: 3vw;
        top: 70px;
        background-color: $web_G_Black;
        border-radius: 0 0 20px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        button{
            width: 8vw;
            height: 3vw;
            border: none;
            background-color: $web_G_Black;
            color: $heading_font_gray;
            font-size: $TinyFonts;
            font-weight: 600;
            cursor: pointer;
        }
        button:hover{
            color: white;
        }
    }
}

.popup-container {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);

    .popup {
        background-color: #fff;
        padding: 3vw;
        border-radius: 2vw;
        height: 10vw;
        display: flex;
        
        .popApprove{
            background-color: white;
            cursor: pointer;
            border: none;
            img{
                width: 100%;
                height: 100%;
                opacity: .4;
            }
        }
        .popApprove:hover{
            transition: all .2s;
            img{
                opacity: 1;
            }
        }
        .popDeny{
            background-color: white;
            border: none;
            margin: 0 80px;
            cursor: pointer;
            img{
                width: 100%;
                height: 100%;
                opacity: .4;
            }
        }
        .popDeny:hover{
            transition: all .2s;
            img{
                opacity: 1;
            }
        }
        .popCancel {
            background-color: $web_G_Black;
            cursor: pointer;
            color: white;
            border: solid 1px $web_G_Black;
            display: flex;
            align-items: center;
            width: fit-content;
            padding: 1vw 4vw;
            border-radius: 1vw;
            font-size: $MediumFonts;
            font-weight: 600;
            opacity: .4;
        }
        .popCancel:hover{
            transition: all .2s;
            opacity: 1;
        }
    }
}
  
  
  

.teacherContentPage{
    display: flex;
    width: 100vw;

    .navBar{
        display: flex;
        align-items: center;
        flex-direction: column;
        height: calc(100vh - 70px);
        width: 100px;
        padding: 5vh 0;
        justify-content: space-between;
        border-right: solid 1px $border_color_gray;
    
        .topBar{
            display: flex;
            flex-direction: column;
            align-items: center;
    
            .dashboard_icon{
                margin-bottom: 6vh;
                width: max(36px, 2.4vw);
            }
            .dashboard_icon_light{
                margin-bottom: 6vh;
                width: max(36px, 2.4vw);
                opacity: .2;
                cursor: pointer;
            }
            .dashboard_icon_light:hover{
                opacity: 1;
                transition: all .2s;
            }
    
            .list_icon{
                width: max(32px, 2.4vw);
            }
            .list_icon_light{
                width: max(32px, 2.4vw);
                opacity: .2;
                cursor: pointer;
            }
            .list_icon_light:hover{
                opacity: 1;
                transition: all .2s;
            }
        }
    
        .settings_icon{
            width: max(36px, 2.4vw);
    
        }
    }

    .assignmentsT{
        padding: 3vw 3vw;
        margin: 3vw 3vw;
        border: solid 1px $border_color_gray;
        border-radius: 20px;
        width: 50%;
        background-color: white;
    
        .assignTitle{
            font-size: $ExtraLargeFonts;
            font-weight: 700;
            margin-bottom: 30px;
        }
    
        .assignContainer{
            height: 60vh;
            overflow-y: scroll;
    
            .singleAssignment{
                display: flex;
                width: 100%;
                color: $web_G_Black;
                margin-bottom: 60px;
                justify-content: space-between;
                align-items: center;

                .date_details{
                    display: flex;
                    align-items: center;

                    .date{
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        align-items: center;
                        font-size: $TinyFonts;
                        font-weight: 600;
                        padding-right: 2vw;
                        color: $heading_font_gray;

                        span{
                            font-size: $MediumFonts;
                            color: $web_G_Black;
                        }
                    }
        
                    .details{
                        display: flex;
                        flex-direction: column;
                        border-left: solid 1px $border_color_gray;
                        padding-left: max(10px, 1.8vw);
                        text-overflow: ellipsis;
        
                        .statusLogo{
                            display: none;
                        }
        
                        .subject{
                            font-size: $MediumFonts;
                            font-weight: 600;
                        }
        
                        .desc{
                            color: $heading_font_gray;
                            font-size: $SmallFonts;
                            margin-bottom: 8px;
                        }

                        .status{
                            display: flex;

                            .statusOn-Hold{
                                background-color: $web_G_Black;
                                color: $web_White_text;
                                height: 25px;
                                display: flex;
                                align-items: center;
                                width: fit-content;
                                padding: 0 1vw;
                                border-radius: 20px;
                                margin-right: 10px;
                            }
            
                            .statusApproved{
                                background-color: $web_green_btn;
                                color: $web_White_text;
                                height: 25px;
                                display: flex;
                                align-items: center;
                                width: fit-content;
                                padding: 0 1vw;
                                border-radius: 20px;
                                margin-right: 10px;
                            }
            
                            .statusMissed{
                                background-color: $web_red_btn;
                                color: $web_White_text;
                                height: 25px;
                                display: flex;
                                align-items: center;
                                width: fit-content;
                                padding: 0 1vw;
                                border-radius: 20px;
                                margin-right: 10px;
                            }
            
                            .statusPending{
                                background-color: $web_yellow_btn;
                                color: $web_White_text;
                                height: 25px;
                                display: flex;
                                align-items: center;
                                width: fit-content;
                                padding: 0 1vw;
                                border-radius: 20px;
                                margin-right: 10px;
                            }
                        }
        
                        
                    }
                }
                

                .manageAssign{
                    display: flex;

                    img{
                        height: max(25px, 3vw);
                        opacity:.2;
                        margin-right: 20px;
                    }
                    img:hover{
                        opacity: 1;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .addAssign{
        width: 35%;
        padding: 3vw 3vw;
        margin: 3vw 0;
        margin-right: 3vw;
        border: solid 1px $border_color_gray;
        border-radius: 20px;

        h1{
            font-size: $ExtraLargeFonts;
            font-weight: 700;
            margin-bottom: 30px;
        }

        form{
            display: flex;
            flex-direction: column;

            .subjectSelect{
                width: 50%;
                height: 2.5vw;
                outline: none;
                border-radius: 10px;
                padding-left: .5vw;
                border: solid 1px $border_color_gray;
                font-size: $TinyFonts;
                margin-bottom: 20px;
                font-weight: 500;
            }

            .dead_date{
                height: 2.5vw;
                width: 50%;
                border: solid 1px $border_color_gray;
                outline: none;
                margin-bottom: 20px;
                border-radius: 10px;
                padding-left: .5vw;
            }

            .assignDescForm{
                outline: none;
                border: solid 1px $border_color_gray;
                border-radius: 10px;
                height: 30vh;
                font-size: $TinyFonts;
                padding: 1vw;
                font-weight: 500;
                margin-bottom: 40px;
            }

            button{
                border: solid 1px $border_color_gray;
                background-color: $web_G_Black;
                color: white;
                font-size: $SmallFonts;
                width: 10vw;
                height: 3vw;
                border-radius: 10px;
                cursor: pointer;
            }
            button:hover{
                background-color: $web_green_btn;
                color: white;
            }
        }
    }

    .assignmentSubList{
        padding: 3vw;
        margin: 3vw 4vw;
        border: solid 1px $border_color_gray;
        border-radius: 20px;
        width: calc(91vw - 100px);
        height: calc(100vh - 70px - 6vw);
        overflow: hidden;
        
        .assignSubTitle{
            font-size: $ExtraLargeFonts;
            font-weight: 700;
            margin-bottom: 30px;
        }

        .submitsContainer{
            height: 60vh;
            overflow-y: scroll;

            .singleAssignmentT{
                display: flex;
                width: 100%;
                color: $web_G_Black;
                margin-bottom: 60px;
                align-items: center;
        
                    .date_details{
                        display: flex;
                        align-items: center;
        
                        .date{
                            display: flex;
                            flex-direction: column;
                            text-align: center;
                            align-items: center;
                            font-size: $TinyFonts;
                            font-weight: 600;
                            padding-right: 2vw;
                            color: $heading_font_gray;
        
                            span{
                                font-size: $MediumFonts;
                                color: $web_G_Black;
                            }
                        }
            
                        .details{
                            display: flex;
                            border-left: solid 1px $border_color_gray;
                            padding-left: max(10px, 1.8vw);
                            text-overflow: ellipsis;
                            align-items: center;

                            .custom_file_download{
                                margin-right: max(10px, 1.8vw);
                                border: solid 1px $border_color_gray;
                                border-style: dashed;
                                border-radius: 1.2vw;
                                width: max(60px, 4vw);
                                height: max(60px, 4vw);
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-direction: column;
                                font-size: 10px;
                                color: $heading_font_gray;
                                background-color: white;
                                cursor: pointer;
            
                                img{
                                    width: 35%;
                                    margin-bottom: 10px;
                                    opacity: .2;
                                    
                                }
                            }
                            .custom_file_download:hover{
                                color: $web_G_Black;
                                img{
                                    
                                    opacity: 1;
                                }
                            }

                            .subApproved{
                                margin-right: max(10px, 1.8vw);
                                border: solid 1px $border_color_gray;
                                border-style: dashed;
                                border-radius: 1.2vw;
                                width: max(60px, 4vw);
                                height: max(60px, 4vw);
                                display: flex;
                                align-items: center;
                                justify-content: center;
            
                                img{
                                    width: 60%;
                                }
                            }

                            .subDenied{
                                margin-right: max(10px, 1.8vw);
                                border: solid 1px $border_color_gray;
                                border-style: dashed;
                                border-radius: 1.2vw;
                                width: max(60px, 4vw);
                                height: max(60px, 4vw);
                                display: flex;
                                align-items: center;
                                justify-content: center;
            
                                img{
                                    width: 60%;
                                }
                            }

                            .details_right{
                                width: 80%;
                                
                                .submitter{
                                    font-size: $TinyFonts;
                                    font-weight: 600;
                                    color: $heading_font_gray;
                                }
                
                                .subject{
                                    font-size: $MediumFonts;
                                    font-weight: 700;
                                    margin-bottom: 10px;
                                }
                
                                .desc{
                                    color: $heading_font_gray;
                                    font-size: $SmallFonts;
                                    font-weight: 600;
                                    margin-bottom: 8px;
                                }
    
                                .message{
                                    color: $heading_font_gray;
                                    font-size: $TinyFonts;
                                    margin-bottom: 8px;
    
                                    span{
                                        font-size: $TinyFonts;
                                        font-weight: 600;
                                    }
                                }
            
                                .status{
                                    display: flex;
            
                                    .statusOn-Hold{
                                        background-color: $web_G_Black;
                                        color: $web_White_text;
                                        height: 25px;
                                        display: flex;
                                        align-items: center;
                                        width: fit-content;
                                        padding: 0 1vw;
                                        border-radius: 20px;
                                        margin-right: 10px;
                                    }
                    
                                    .statusApproved{
                                        background-color: $web_green_btn;
                                        color: $web_White_text;
                                        height: 25px;
                                        display: flex;
                                        align-items: center;
                                        width: fit-content;
                                        padding: 0 1vw;
                                        border-radius: 20px;
                                        margin-right: 10px;
                                    }
                    
                                    .statusMissed{
                                        background-color: $web_red_btn;
                                        color: $web_White_text;
                                        height: 25px;
                                        display: flex;
                                        align-items: center;
                                        width: fit-content;
                                        padding: 0 1vw;
                                        border-radius: 20px;
                                        margin-right: 10px;
                                    }
                    
                                    .statusPending{
                                        background-color: $web_yellow_btn;
                                        color: $web_White_text;
                                        height: 25px;
                                        display: flex;
                                        align-items: center;
                                        width: fit-content;
                                        padding: 0 1vw;
                                        border-radius: 20px;
                                        margin-right: 10px;
                                    }
                                }
                            } 
                            
            
                            
                        }
                    }
                
            
            }
        }

        
    }
}

@media only screen and (max-width: 940px) {

    .teacherHeading{
        .heading_right{
            .searchProfile{
                display: none;
            }

            .headingProfile{
                .headingProfile_left{
                    display: none;
                }
            }
        }
    }

}