*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #B0B0B0;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #B0B0B0;
}